.pagina {
  justify-content: center;
  
  ul.habilidades {
    display: flex;
    list-style: none;
    padding: 0;

    li {
      
      display: flex;
      flex-direction: column;
      
      justify-content: center;
      margin: 5px;
      
      width: 90px;

      span.logo {
        align-items: center;
        background: #595959;
        border: 1px solid #a1a1a1;
        border-radius: 10px;
        display: flex;
        height: 60px;
        justify-content: center;
      }

      span.descricao {
        text-align: center;
      }
    }
  }
}